@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary:            #54c258;
  --color-primary-hover:      #65ae68;
  --color-secondary:          #56b4ff;
  --color-secondary-hover:    #7cadd6;
  --color-warning:            #b92c28;
  --color-warning-hover:      #a32824;
  --color-background:         #e6e6e6;
  --color-background-muted:   #d7d7d7;
  --color-foreground:         #0f0f0f;
  --color-foreground-muted:   #5e5e5e;
  --color-bordercolor:        #c5c5c5;
  --color-trackcolor:         #dcdcdc;
  --color-trackheadercolor:   #e6e6e6;
  --color-clipvideocolor:     #56b4ff;
  --color-clipaudiocolor:     #54c258;
  --color-timelinecolor:      #ebebeb;
  --color-playheadcolor:      #ff4a30;
  --color-rulercolor:         #c5c5c5;
  --color-rulertextcolor:     #5e5e5e;
}

@layer base {
  @variant dark {
    --color-primary:          #4CAF50;
    --color-primary-hover:    #148219;
    --color-secondary:        #2196F3;
    --color-secondary-hover:  #2874b1;
    --color-warning:          #ad3a36;
    --color-warning-hover:    #803735;
    --color-background:       #1a1a1a;
    --color-background-muted: #2a2a2a;
    --color-foreground:       #f0f0f0;
    --color-foreground-muted: #a0a0a0;
    --color-bordercolor:      #3a3a3a;
    --color-trackcolor:       #232323;
    --color-trackheadercolor: #1a1a1a;
    --color-clipvideocolor:   #2196F3;
    --color-clipaudiocolor:   #4CAF50;
    --color-timelinecolor:    #141414;
    --color-playheadcolor:    #ff3d00;
    --color-rulercolor:       #3a3a3a;
    --color-rulertextcolor:   #a0a0a0;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  @apply text-foreground;
  @apply bg-background;
}

@layer components {
  button {
    @apply cursor-pointer;
    @apply text-sm;
    @apply h-9;
    @apply px-4;
    @apply rounded;
    @apply border;
    @apply border-bordercolor;
    @apply bg-background-muted;
    @apply text-foreground;
    @apply hover:bg-background;
  }

  label {
    @apply block;
    @apply mb-2;
    @apply text-sm;
    @apply font-medium;
    @apply text-gray-900;
    @apply dark:text-white;
  }

  select {
    @apply cursor-pointer;
    @apply bg-gray-50;
    @apply border;
    @apply border-gray-300;
    @apply text-gray-900;
    @apply text-sm;
    @apply focus:ring-blue-500;
    @apply focus:border-blue-500;
    @apply h-9;
    @apply px-4;
    @apply rounded;
    @variant dark {
      @apply bg-gray-700;
      @apply border-gray-600;
      @apply placeholder-gray-400;
      @apply text-white;
      @apply focus:ring-blue-500;
      @apply focus:border-blue-500;
    }
  }
}
